/* styles.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.title {
    margin: 20px auto;
}
.goBackButton{ 
    color: #007bff; 
    text-decoration: none; 
    margin-bottom: 10px; 
    display: inline-block; 
}
.contactItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    flex-direction: column; 
    align-items: flex; 
}
.link {
    color: #007bff;
    text-decoration: none;
}
.inputField {
    width: 100%;
    margin: 10px 0; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}
.label {
    text-align: left; 
    margin-bottom: 10px; 
}
.submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    align-items: center;
}
