.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .title{
    margin: 20px auto;
  }
  .contactItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .contactContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contactContent p {
    margin: 0; /* Elimina el margen superior e inferior del párrafo */
  }
  